Lab | Inferential statistics - T-test & P-value
Instructions
We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

An additional problem (not mandatory): In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances. Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file files_for_lab/student_gpa.txt. At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?

Test statistics can be calculated as: link to the image - Test statistics calculation for Unpooled Variance Case

Degrees of freedom is (n1-1)+(n2-1).

In [87]:
import pandas as pd
import numpy as np
from scipy import stats

In [88]:
df = pd.read_csv(r"C:\Users\Usuari\Downloads\machine.txt", sep="\t", encoding="utf-16", decimal=".")

In [89]:
df

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [90]:
df = df.rename(columns={'    Old machine':'Old machine'})

In [91]:

# Separar los datos en dos series 
new_machine_times = df['New machine']
old_machine_times = df['Old machine'] 

# Realizar la prueba t de dos muestras independientes 

t_stat, p_value = stats.ttest_ind(new_machine_times, old_machine_times, alternative='less')

In [92]:
new_machine_times.mean()

42.14

In [93]:
old_machine_times.mean()

43.230000000000004

In [94]:
t_stat

-3.3972307061176026

In [95]:
p_value

0.0016055712503872579

Rechazamos la hipótesis nula, y confirmamos que la nueva máquina es más rápida.

An additional problem (not mandatory): In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances. Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file files_for_lab/student_gpa.txt. At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?

Test statistics can be calculated as: link to the image - Test statistics calculation for Unpooled Variance Case

Degrees of freedom is (n1-1)+(n2-1).

In [96]:
df_estudiantes = pd.read_csv(r"C:\Users\Usuari\Downloads\student_gpa.txt", sep="\t", encoding="utf-8")

In [97]:
df_estudiantes = df_estudiantes.rename(columns={'  Juniors':'Juniors'})

In [98]:
df_estudiantes.dtypes

Sophomores    float64
Juniors       float64
dtype: object

In [99]:
# Verificar las columnas del DataFrame
print(df_estudiantes.columns)
# Si la columna 'Juniors' existe, imputamos los valores nulos
if 'Juniors' in df_estudiantes.columns:
    media_junior = df_estudiantes['Juniors'].mean()
    df_estudiantes['Juniors'] = df_estudiantes['Juniors'].fillna(media_junior)
else:
    print("La columna 'Juniors' no existe en el DataFrame.")

Index(['Sophomores', 'Juniors'], dtype='object')

In [100]:
sophomores = df_estudiantes['Sophomores']
juniors = df_estudiantes['Juniors']

In [101]:
media_sophomores = sophomores.mean()
media_sophomores

2.84

In [102]:
media_juniors = juniors.mean()
media_juniors

2.980769230769231

In [103]:
df_estudiantes

    Sophomores   Juniors
0         3.04  2.560000
1         1.71  2.770000
2         3.30  2.700000
3         2.88  3.000000
4         2.11  2.980000
5         2.60  3.470000
6         2.92  3.260000
7         3.60  3.200000
8         2.28  3.190000
9         2.82  2.650000
10        3.03  3.000000
11        3.13  3.390000
12        2.86  2.580000
13        3.49  2.980769
14        3.11  2.980769
15        2.13  2.980769
16        3.27  2.980769

In [104]:
t_stat, p_value = stats.ttest_ind(sophomores, juniors)

In [105]:
t_stat

-0.9925381999259013

In [106]:
p_value

0.32838135951754344

No podemos rechazar la hipótesis nula

In [108]:
t_stat, p_value = stats.ttest_ind(sophomores, juniors, alternative='less')

In [109]:
p_value

0.16419067975877172